<div class="top-buffer container-fluid">
    <div class="row">
        <h2>Timer and Progress Update</h2>
    </div>
    <div class="row">
        <p>Here you can start timers and view your completion progress.</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="top-buffer row">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Hours</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let hr of this.hours">{{hr}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Minutes</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let min of this.mins">{{min}}</option>
            </select>
          </div>
        <div class="col-xs-6">
            <div class="top-buffer"></div>
            <button class="btn btn-success">Start Timer</button>
        </div>
    </div>
</div>