<div class="row top-buffer container-fluid">
  <h3>
    Productivity Bookmarks
 </h3>
</div>


<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Google</h5>
          <p class="card-text">Favorite Search Engine</p>
          <a target="_blank" href="https://www.google.com/" class="btn btn-primary">Go There</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Heelmail</h5>
          <p class="card-text">Quickly check your UNC email!</p>
          <a target="_blank" href="https://heelmail.unc.edu/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">UNC Library</h5>
            <p class="card-text">Make room reservations and check book availability</p>
            <a target="_blank" href="https://library.unc.edu/" class="btn btn-primary">Go There</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Google Calendar</h5>
            <p class="card-text">Access your Personal Calendar and make needed changes</p>
            <a target="_blank" href="https://calendar.google.com/" class="btn btn-primary">Go There</a>
          </div>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-xs-6">
        <button class="btn btn-success">Add</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-danger">Delete</button>
    </div>
</div>
</div>
